@import "_fonts.scss";
a{
    color: white;
    transition: .5s;
    text-decoration: none;
    &:visited{
        color: white;
    }
    &:hover{
        color: cyan;
        transition: 1.5s;
        }
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url("../assets/img/background2.jpg");
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    .header-area{
        display: flex;
        align-items: center;
        font-family: "MLP";
        background-color: black;
        img:first-child{
            margin-left: 50px;
        }
        ul{
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            margin-right: 150px;
            font-size: calc(40 * 0.062vw);
            li{
                margin-left: 50px;
            }
        }
    }
    .content-area{
        display: flex;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        font-family: "MLP - Magic is Friendship";
        font-size: 0.8em;
        .content-area-photo{
            & > img{
                float: left;
                shape-outside: circle(50%);
                margin-right: 30px;
            }
        }
        .content-area-description{
            min-width: 650px;
            min-height: 500px;
            transition: 1s;
        }
        .education{
            display: none;
            line-height: 1.12;
            font-size: 1.015em;
            p{
                margin: 0;
                font-family: 'Londrina Solid', cursive;
                text-align: right;
            }
            ul{
                text-align: right;
                li{
                    display: inline-block;
                    padding: 2px 0;
                    &:not(:last-child)::after{
                        content: ',';
                        font-size: 20px;
                    }
                }
            }
        }
        .code{
            display:none;
        }
        & h2{
            font-size: 1.4em;
            text-align: right;
            margin: 10px 0;
        }
        & h3{
            margin: 0;
            text-align: right;
            font-size: 1.2em;
            font-family: 'Londrina Solid', cursive;
        }
        & p{
            text-align: justify;
            font-size: 1.1em;
        }
        .active{
            opacity: 1;
        }
        .hidden{
            opacity: 0;
        }
    }
    .footer-area{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            height: 100px;
            .icon{
                margin-left: 75px;
                svg{
                    width: 50px;
                    height: 50px;
                    fill: black;
                    transition: .5s;
                    &:hover{
                        width: 70px;
                        height: 70px;
                        fill: #2567b2;
                        transition: .5s;
                    }
                }
            }
    }
}